* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  padding: 10px;
  background: #f1f1f1;
}


.header {
  padding: 20px;
  text-align: center;
  background: rgb(20, 20, 20);
}

.header h1 {
  font-size: 50px;
}


.topnav {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}


.topnav a {
  float: center;
  display: block;
  text-align: center;
  padding: 4px 20px;
  text-decoration: none;
  color: rgb(20, 20, 20)
}


.topnav a:hover {
  background-color: #2bceab;
  color: rgb(5, 5, 5);
}


.leftcolumn {   
  float: left;
  width: 75%;
}


.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}


.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}


.card {
  background-color: rgb(20, 20, 20);
  padding: 20px;
  margin-top: 20px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.footer {
  padding: 20px;
  text-align: center;
  background: rgb(20, 20, 20);
  margin-top: 20px;
}


h1 {
    animation: textwelle 4s;
}


@keyframes textwelle {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
  }


  h1 {
    font-family: 'Black Ops One';
    color:#f1f1f1;
  }



  h2, h3, h4, h5, h6, p, ul, ol, header, div, th, td, table {
    font-family: 'Roboto', sans-serif;
    color: #f1f1f1;
  }
    


@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}
      
      
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}


.footer {
  padding: 30px;
  text-align: center;
  background: rgb(20, 20, 20);
  margin-top: 30px;
  }

  .footertext {
    color: white;
  }


  h6 {
    text-align: center;
    color: #2bceab;
    font-size: 24px;
  }


  table {

    border-collapse:collapse;
    width: 100%;
    color: white;
    font-size: 15px;
  }
  
  td, th {
    text-align: center;
  }
  

  .topnavfooter a:hover {
    background-color: #2bceab;
    color: black;
  }
 

  h4 {
    text-align: center;
    color: rgb(20, 20, 20);
    font-size: 21px;
  }


  @media screen and (max-width: 600px)

  div {
    flex-flow: column;
  }


  @media only screen and (max-width:800px) {
    /* For tablets: */
    .column {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .row, .leftcolumn, .rightcolumn {
      width: 100%;
    }
  }

    iframe {
      width: 100%;
      max-width: 800px;
    }

    .responsive {
      width: 100%;
      height: auto;
    }