    body {
      margin: 0;
    }
    
    
    .header {
      background-color: #f1f1f1;
      text-align: center;
      
    }
    
    
    .topnav {
      overflow: hidden;
      background-color: rgb(20, 20, 20);
    }
    
    .row {
      display: flex;
      justify-content: center;
    }

    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
  
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    

    .topnavfooter {
      float: center;
      display:block;
      color: #f2f2f2;
      text-align: center;
    }


    .topnavfooter a:hover {
      background-color: #2bceab;
      color: black;
    }
   
    .column {
      float: left;
      width: 33.33%;
      padding: 70px;
    }
    
 


    .column.side {
      width: 15%;

    }


    .column.middle {
    width: 32%;
    }


    .footer {
    padding: 30px;
    text-align: center;
    background: rgb(20, 20, 20);
    margin-top: 30px;
    }

    .footertext {
      color: white;
    }


    h2, h3, h4, h5, h6, p, ul, ol, header, div, th, td, table {
      font-family: 'Roboto', sans-serif;
    }


    h1 {
      font-family: 'Black Ops One';
    }


    h3 {
    color: rgb(255, 255, 255);
    }


    h1, h4 {
    animation: textwelle 4s;
    }


    @keyframes textwelle {
      0% {
        transform: scale(0.1);
        opacity: 0;
      }
    }


    h1 {
    font-size: 65px;
    margin-top: 18%;
    color: white;
    }


    h2 {
    font-size: 23px;
    }


    h4 {
      font-size: 30px;
      margin-top: -1.5%;
      color: white;
     
    }

    h6 {
      text-align: center;
      color: #2bceab;
      font-size: 20px;
    }


    h5 {
      text-align: center;
      color: #2bceab;
      font-size: 24px;
    }


    * {
      box-sizing: border-box;
    }


    .hero {
      background-image: url(https://wallpaperaccess.com/full/5927938.gif);
      background-position: center;
      height: 950px;
      margin-top: -2%;
    }


    .typewriter {
      font-family: 'Space Mono', monospace;
      text-align: center;
      color: rgba(51, 51, 51, 0.774);
      font-size: 24px;
    }

    .controller {
      text-align: center;
    }


    .class-1 {
      border-top: 10px solid #2bceab80;
  }


  .slider {
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }


  .image-container {
    width: 1500px;
    background-color: rgb(255, 255, 255);
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }


  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }


  #slide-1:target ~ .image-container {
    left: 0px;
  }


  #slide-2:target ~ .image-container {
    left: -500px;
  }


  #slide-3:target ~ .image-container {
    left: -1000px;
  }


  .buttons {
    position: relative;
    top: -20px;
  }


  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: #2bceab;
  }
   

  table {
    border-collapse:collapse;
    width: 100%;
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
  }
  
  td, th {
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
    font-family: 'Roboto', sans-serif;
  }


  