
               body {
                   margin: 0px;
               }
               
               .veganimage { 
                display: flex; 
                justify-content: center; 
                align-items: center;
            }

                .kochlöffel {
                display: flex; 
                justify-content: center; 
                align-items: center;}
               
               .parent {
                   background-color:rgb(88, 170, 63);
                   height: 100px;
                   width: calc(100% - 20px);
                   padding: 5px;
               }

               .child  {
                   height: 30px;
                   margin: 0 %;
                 }


               a:hover {
                   color:rgb(26, 26, 27);
                }

               .text{
                color:rgb(255, 255, 255); 
                text-align: center; font-size: 18px;
                }

               
                body {
                    background-color: rgba(255, 255, 255, 0.904);
                }

                h1 {
                    color:rgb(88, 170, 63);text-align: center;
                }

                h2, h3, p, li {
                    color: rgb(0, 0, 0);text-align:left;
                }

                table {
                    color:rgb(0, 0, 0);
                }

                header {
                    color: rgb(0, 0, 0);
                }

                h1 {
                    font-family:Carlo Melow;
                    font-size: 90px;
                    text-align: center;
                }

                h2 {
                    font-family: Helvetica;
                    font-size: 25px;
                }

                h3 {
                    font-family: Helvetica;
                    font-size: 18px;
                }

                h4 {
                    font-family: Helvetica;
                    font-size: 20px;
                    text-align: center;
                }

                li {
                    font-family: Helvetica;font-size: 15px;
                }

                table {
                    font-family: Helvetica;font-size: 20px;
                }

                p {
                    font-family: Helvetica;font-size: 15px;
                }

                header {
                    font-family: Helvetica;font-size: 13px;
                }

                h1, h4 {
                    animation: textwelle 8s;
                  }
                  
                  @keyframes textwelle {
                    0% {
                      transform: scale(0.1);
                      opacity: 0;
                    }  
                    70% {
                      transform: scale(1.25);
                      opacity: 1;
                    }
                    100% {
                      transform: scale(1);
                      opacity: 1;	
                    }
                  }

a{
    color:rgb(77, 77, 77);
}

.julia a {
    background-color: white;
}

header a {
    background-color; text-decoration: none;
}